.categories {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.categories__title {
    text-transform: uppercase;
}

.categories__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.categories__name {
    display: block;
}

.categories__item {
    width: 230px;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 1px 2px 3px #c3c3c3;
}

.categories__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
}

.category__deleteButton,
.category__showArticles {
    cursor: pointer;
    width: 80px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background: black;
    color:white;
    box-shadow: 1px 2px 3px #c3c3c3;
}